@charset "UTF-8";

.topNavWrap,
.docHeadWrap,
#topTab {
    width: 1090px;
    margin: 0 auto;
}
.topAd {
    height: 80px;
    position: relative;
    overflow: hidden;
    width: 100%;  
}
.topAd a {
        position: absolute;
        left: 50%;
        top: 0;
    }
.topAd img {
        position: relative;
        left: -50%;
        top: 0;
    }

#topNav{
    background: #000;
    position: relative;
    border: 1px solid #ededee;
    color: #999; 
}

#topNav .topNavWrap{
    position: relative;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}

.topNavLeft {
    float: left;   
}

.topNavLeft.login {
        margin-left: 16px;
    }

.topNavLeft.sep{
        padding: 0 10px;
    }

.topNavLeft2{
    float: left;
    padding-left: 30px;
    
    &:hover .phone{
    display: block;
}
}

.topNavLeft2 a{
    position: relative;
    }
.topNavLeft2 a .phone{
    position: absolute;
    background: #fff;
    left: -36px;
    top: 30px;
    padding: 5px 5px 0;
    border: 1px solid  rgb(228, 228, 228);
    display: none;
    z-index: 100000000;
}
.topNavLeft2 a .phone img{
    width: 116px;
    height: 116px;
}

.topNavRight{
    float: left;
}
.topNavRight li{
    float: left;
}
.topNavRight li .topNav1{
    padding: 0 14px 0 8px;
}
.topNavRight li:nth-child(3){
    .topNavmenu a:nth-child(4){
        border-bottom: 1px solid #e8e8ea ;
    }
    .topNavmenu a:nth-child(7){
        border-bottom: 1px solid #e8e8ea;
    }
    .topNavmenu a:nth-child(9){
        border-bottom: 1px solid #e8e8ea;
    }
}
.topNavRight li:nth-child(2){
    .topNavmenu a:nth-child(1){
        border-bottom: 1px solid #e8e8ea;
    }
}
.topNav2{
    position: relative;
    zoom: 1;
    padding: 0 24px 0 16px!important;
}
.topNavmenu {
    position: absolute;
    left: -1px;
    top: 30px;
    box-shadow: 0 1px 1px #000;
    padding: 4px 15px 12px 14px;
    display: none;
}
.topNavmenu a{
    display: block;
    word-wrap: normal;
    white-space: nowrap;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}
.topNav2:hover {
    background: #fff;
}
.topNav2:hover .topNavmenu {
    display: block;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-top: 0;
}
.topNav2:hover a:hover{
    color: red;
}
#search{
    margin: 0 auto;
}
.searchWrap{
    position: relative;
    height: 100px;
}
.logo_kaola_new{
    position: absolute;
        left: 0;
        top: 20px;
        width: 330px;
        height: 65px;
        line-height: 65px;
        outline: none;
        cursor: pointer;
        z-index: 9;
        background-repeat: no-repeat;
        background-position: 0;
        background-size: auto 65px;
        background-image: url();
}