@charset "UTF-8" ;
.packets{
    width: 1200px;
    height: 308px;
    margin-top: 15px;
    margin: 0 auto;
}
.packets .packets2{
    
    display: block;
    position: relative;
   
    // width:1519px ;
    // margin-left: -759.5px;
    // background-size: 1920px 308px;
    background-color: aqua;
    // background-image: url("../img/hongbao.png");
}
