@charset "UTF-8" ;

.packets{
    height: 308px;
    margin-top: 15px;
}
.packets .packets2{
    width: 1000px;
    height: 308px;
   
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: blue;
}