@charset "UTF-8" ;

.slideshow{
    position: relative;
    background-color: red;
    height: 505px;
}
.slideshow ul {
    position: absolute;
    left: 0px;
    top: 0px;
}

.slideshow ul li {
    float: left;
    width: 1519px;
    height: 506px;
}
.slideshow ul li img{
    width: 1519px;
    height: 506px;
}

.slideshow ol {
    position: absolute;
    width: 180px;
    height: 20px;
    left: 50%;
    margin-left: -90px;
    bottom: 20px;
}

.slideshow ol li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    margin: 0 5px;
    text-indent: -99999px;
    cursor: pointer;
}

.slideshow ol li.active {
    background: blue;
}

#right,
#left {
    font-size: 100px;
    color: #fff;
    font-family: verdana;
    position: absolute;
    text-decoration: none;
    top: 110px;
    display: none;
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}

#right:hover,
#left:hover {
    color: #000;
}